<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library_System_Theekshana.Properties.Settings.LibraryConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\My project\Library System Theekshana\Library.mdb&quot;" providerName="System.Data.OleDb"/>
        <add name="Library_System_Theekshana.Properties.Settings.LibraryConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\My project\Library System Theekshana hard copy\Library.mdb&quot;" providerName="System.Data.OleDb"/>
        <add name="Library_System_Theekshana.Properties.Settings.LibraryConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Theekshana\Desktop\Library System Theekshana hard copy\Library.mdb&quot;" providerName="System.Data.OleDb"/>
        <add name="Library_System_Theekshana.Properties.Settings.LibraryConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Library System\Library.mdb&quot;" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
